<div name="" id="create-account">
  <form class="form-create-account" [formGroup]="CreatForm">
    <h1>Register</h1>
    <div class="col-md-6 col-sm-12">
      <mat-form-field class="example-full-width">
        <mat-label>User name</mat-label>
        <input matInput formControlName="userName">
        <mat-error *ngIf="this.CreatForm.controls.userName.invalid">Không được để trống</mat-error>
      </mat-form-field>
    </div>


    <div class="col-md-6 col-sm-12">
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
        <mat-error *ngIf="this.CreatForm.controls.password.invalid">Không được để trống</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6 col-sm-12">
      <mat-form-field class="example-full-width">
        <mat-label>Confirm password</mat-label>
        <input matInput formControlName="confirmPassword">
        <mat-error *ngIf="this.CreatForm.controls.confirmPassword.invalid">Không được để trống</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6 col-sm-12">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email">
        <mat-error *ngIf="this.CreatForm.controls.confirmPassword.invalid">Không đúng định dạng email</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6 col-sm-12">
      <mat-form-field class="example-full-width">
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="phoneNumber">
        <!-- <mat-error *ngIf="this.CreatForm.controls.confirmPassword.invalid">Không đúng định dạng phone number</mat-error> -->
      </mat-form-field>
    </div>
    <div class="button">
      <button mat-raised-button color="primary" (click)="save()">Đồng ý</button>
      <button mat-raised-button color="none" style="margin-left: 1rem;" (click)="Close()">Bỏ qua</button>
    </div>
  </form>

</div>
